<div id="nav_container">

<mat-accordion displayMode="flat">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
      <mat-panel-title>
        RECEIVING
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <mat-list-item>
          <a matLine href="#">SELECT SHIPMENT</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine href="#">SELECT RECEIVING TASK</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine href="#">CONFIRM RECEIVING TASK</a>
        </mat-list-item>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
      <mat-panel-title>
        PICKING
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      
      <mat-nav-list>
        <mat-list-item>
          <a matLine href="#">SELECT SHIPMENT</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine href="#">SELECT PICK TASK</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine href="#">CONFIRM PICK TASK</a>
        </mat-list-item>
      </mat-nav-list>

    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</div>